.Xauthority
.bash_history*
.node_repl_history
.viminfo
.lesshst
.bash_sessions/
.cache/
.cargo/
.config/dconf/
.config/github-copilot/
.config/htop/
.config/pulse/
.docker/
.gnupg/
.irssi/
.local/
.mozilla/
.mutt/
.rustup/
.sfcompute/
.ssh/
.surf/
bin/gopls
bin/protoc-*
git/
src/
tmp/

.DS_Store
Desktop/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
