[alias]
	b    = branch
	ci   = commit
	cl   = clone
	co   = checkout
	l    = log
	r    = rebase
	s    = status
	su   = submodule
	pu   = push
	pl   = pull
	p    = cherry-pick
[user]
	name = Keith Noguchi
	email = keith.noguchi@gmail.com
[push]
	default = simple
[include]
	path = ~/.gnupg/secret.txt
[core]
	excludesfile = ~/.gitignore_global
