[alias]
	br   = branch
	ci   = commit
	co   = checkout
	rb   = rebase
	sh   = show
	st   = status
	sub  = submodule
	desc = describe
	pick = cherry-pick
[user]
	name = Keith Noguchi
	email = keith.noguchi@gmail.com
[push]
	default = simple
[include]
	path = ~/.gnupg/secret.txt
