[alias]
	a    = add
	b    = branch
	ci   = commit
	co   = checkout
	d    = diff
	f    = fetch
	l    = log
	m    = mv
	r    = rebase
	s    = status
	st   = stash
	sub  = submodule
	pick = cherry-pick
[user]
	name = Keith Noguchi
	email = keith.noguchi@gmail.com
[push]
	default = simple
[include]
	path = ~/.gnupg/secret.txt
[core]
	excludesfile = ~/.gitignore_global
