.DS_Store
.Xauthority
.bash_history
.node_repl_history
.bash_sessions/
.cargo/
.lesshst
.viminfo
.cache/
.config/github-copilot/
.config/htop/
.docker/
.irssi/
.local/
.mozilla/
.rustup/
.sfcompute/
.surf/
.mutt/
.gnupg/
.ssh/
Desktop/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
bin/protoc-*
tmp/
git/
pkg/
src/
bin/gopls
